<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">

      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZxcqa28LBctDHgAS8nsf89A0P4QcuYAvrcg&s" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlGWy5DSoKtDDulal7XFX7iAF6t659qzSPdQ&s" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.autopapo.com.br/box/uploads/2022/09/13161829/08_upper_e_opendoor_var1_crop-732x488.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>
</div>