<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <ion-title>Título da Minha Página</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-item>
            <ion-label class="ion-text-center">
              <img src="https://static.wikia.nocookie.net/turma-do-kamil/images/5/53/A5f7322cdf21c4de36c7e2c48c926e4c433fe5e4_hq.jpg/revision/latest/scale-to-width-down/846?cb=20240814003202&path-prefix=pt-br" alt="pikachu" width="100px">
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="8" size-lg="12">
        <ion-card>
          <ion-item>
            <ion-label class="ion-text-center">Pikachu</ion-label>
          </ion-item>
          <ion-button>Clique em Mim!</ion-button>
        </ion-card>
      </ion-col>
      </ion-row>
  </ion-content>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>